<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="URL.Routes.List" connectionString="http://t.bus55.ru/index.php/app/get_routes/" />
    <add name="URL.Routes.Template" connectionString="http://t.bus55.ru/index.php/app/get_stations/" />
  </connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Phone.Controls.Toolkit" publicKeyToken="B772AD94EB9CA604" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.1.0" newVersion="8.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Phone.Controls.Toolkit" publicKeyToken="b772ad94eb9ca604" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.1.0" newVersion="8.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
