<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="URL.Routes.List" connectionString="http://t.bus55.ru/index.php/app/get_routes/" />
    <add name="URL.Routes.Template" connectionString="http://t.bus55.ru/index.php/app/get_stations/" />
  </connectionStrings>
</configuration>