<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="64278upisfree.62078BC062C2B" Publisher="CN=1ACC04C5-F556-44E2-90CD-301FC2702EE0" Version="1.1.0.3" />
  <mp:PhoneIdentity PhoneProductId="df514d43-08d1-4983-b1f9-507743814f53" PhonePublisherId="9f7fcde2-6f3e-489d-b3e6-3a9cab21e30c" />
  <Properties>
    <DisplayName>Мой маршрут</DisplayName>
    <PublisherDisplayName>upisfree</PublisherDisplayName>
    <Logo>Assets\ApplicationIcon.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="xdf514d43y08d1y4983yb1f9y507743814f53x" Executable="AGHost.exe" EntryPoint="MainPage.xaml">
      <m3:VisualElements DisplayName="Мой маршрут" Square150x150Logo="Assets\SquareTile150x150.png" Square44x44Logo="Assets\Logo.png" Description="Мой маршрут — система, позволяющая наблюдать за движением муниципального транспорта на карте города и показывающая прогноз времени прибытия нужного автобуса, троллейбуса или трамвая на остановку. О замечаниях и предложениях можно писать разработчикам системы (info@bus55.ru) и приложения (upisfree@outlook.com). Автор приложения — Сеня Пугач, система разработана ООО «Флагман-Софт». Тут лежат 2-а пасхальных яйца!" ForegroundText="light" BackgroundColor="#464646" ToastCapable="false">
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="AgHost.BackgroundTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>